html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #303030;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.app-intro {
  font-size: large;
  text-align: center;
}
